<!DOCTYPE HTML>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsenui/js/onsenui.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.js"></script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
      var myModule = angular.module('myApp', ['onsen']);
      myModule.controller('aaa', function($scope){
      
      });
      ons.ready(function(){
      document.querySelector('ons-fab').addEventListener('click', function(event) {
      // Button is clicked!
      myNavigator.pushPage("taskEdit.html", {data: {command: 'create'}});
      })
      });
    </script>
  </head>
  <body>
    
    <ons-navigator title="Navigator" var="myNavigator">
      <ons-page>
	<ons-toolbar>
	  <div class="center">List Page</div>
	  <div class="right" ng-controller="aaa">
	    <ons-toolbar-button modifier="quiet" ng-click="myNavigator.pushPage('settings.html')"><ons-icon icon="cog"></ons-icon></ons-button>
	  </div>
	</ons-toolbar>
	<ons-fab position="bottom right">
	  <ons-icon icon="md-plus"></ons-icon>
	</ons-fab>
	<div style="text-align: center">
	  <br>
	  <ons-button modifier="light" ng-click="myNavigator.pushPage('taskEdit.html', { animation : 'slide' } )">
	    Push Page
	  </ons-button>
	</div>
      </ons-page>
    </ons-navigator>

    <ons-template id="taskEdit.html">
      <ons-toolbar>
	<div class="left">
	  <ons-back-button>Back</ons-back-button>
	</div>
	<div class="center">Edit Page</div>
      </ons-toolbar>
      <div style="text-align: center">
	<input type="text" class="text-input" ng-model="text" placeholder="Type here" style="display: block; width: 100%">
	<br/>aaa
	{{myNavigator.topPage.data.command}}
      </div>
    </ons-template>
    
    <ons-template id="settings.html">
      <ons-toolbar>
	<div class="left">
	  <ons-back-button>Back</ons-back-button>
	</div>
	<div class="center">Settings Page</div>
      </ons-toolbar>
    </ons-template>
    
  </body>
</html>
